@import "../../variables.scss";
@import "../../color-theme.scss";

.account-layout {
  text-align: center;
  min-height: 100vh;

  &__container {
    display: flex;
  }

  &__sidebar {
    min-width: 245px;
    min-height: calc(100vh - #{$header-min-height});
    // position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $theme-sidebar;
    color: $theme-on-sidebar;
  }

  &__header{
    position: static;
  }

  &__content {
    // padding-left: $sidebar-width;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__page {
    flex: 1 0 auto;
    padding: $spacer;
    @include themed() {
      background-color: t($bg);
      color: t($on-bg);
    }
  }

  .footer {
    flex: 0 0 auto;
  }
  
}
