@import "../../variables.scss";
@import "../../color-theme.scss";

.footer {
  @include themed() {
    background-color: t($surface);
    color: t($on-surface);
  };

  &__container{
    padding: 0 $spacer;
  }

}