@import "../../variables.scss";

$padding-small: 3px;
$padding-medium: 12px;

.icon-button {
  flex: 0 0 auto;
  padding: $padding-medium;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;

  &--small {
    padding: $padding-small;
    font-size: 1.125rem;
  }

  &__label {
    z-index: 1;
    color: inherit;
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
  }
}
