@import "../../variables.scss";
@import "../../color-theme.scss";

.login {

  &__form {
    display: flex;
    flex-direction: column;
    padding: $spacer * 2 $spacer * 2 $spacer;
  }

  &__link {
    @include themed() {
      color: t($secondary);
    }
  }

  &__forgot{
    text-align: center;
    margin-top: $spacer;
  }

  &__bottom {
    padding: $spacer $spacer * 2;
    @include themed() {
      border-top: 1px solid rgba(t($on-bg), 0.12);
    }
  }
}
