@import "../../variables.scss";

.nav {
  text-align: left;
  padding: $spacer;
  background-color: $theme-sidebar;

  &__item {
    margin-top: 10px;
    overflow: hidden;

    &:hover {
      background-color: $theme-sidebar-dark;
    }

    &--active {
      .nav__submenu {
        max-height: 100%;
      }
    }

  }

  &__submenu{
    margin-left: 20px;
    max-height: 0;
  }

  &__submenu-item{
    margin-top: 10px;
  }
}
