@import "../../variables.scss";

.main-layout{
  min-height: 100vh;

  &__content{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 $spacer;
  }

  .header__container{
    max-width: 1170px;
    margin: 0 auto;
  }

  .footer__container{
    max-width: 1170px;
    margin: 0 auto;
  }

}