@import "../../variables.scss";

.logo {
  text-align: center;
  padding: 0 $spacer;
  min-height: $header-min-height;
  min-width: $sidebar-width;
  background-color: $theme-sidebar-light;
  display: flex;
  align-items: center;

  &__img {
    width: 40px;
    height: 40px;
    margin-right: $spacer;
  }

  &__link{
    display: flex;
    align-items: center;
  }
  
}
