@import "../../variables.scss";

.user-profile{
  padding: $spacer 0;

  &__img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 0 auto;
  }

  &__name{
    margin: $spacer;
  }

  &__balance{
    padding: 0 $spacer;
  }
  
  &__balance-basic{
    margin-bottom: 8px;
  }
  
  &__btn{
    font-size: 16px;
    width: 100%;
  }

  &__icon{
    margin-left: 8px;
  }

  &__info{
    padding: 3px 0;
    font-size: 11px;
  }

  &__nav{
    margin: $spacer;
  }
  


}